<%- model_class = Candidate -%>
<div class="page-header">
  <h1><%= @election.unit %> <%=t '.title', :default => model_class.model_name.human.pluralize %>
    <head_sub><%= @election.unit %></head_sub></h1>

</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= "Elected" %></th>
  	  <th><%= "BSA ID" %></th>
	  <th><%= "Name" %></th>
	  <th><%= "Rank" %></th>
	  <th><%= "DOB" %></th>
	  <th><%= "Phone(s)" %></th>
	  <th><%= "Email(s)" %></th>
	 
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
    <tr class="<%= (candidate.complete?) ? "success" : "error" %>">
        <td valign="center"><i class="icon-<%= (candidate.complete?) ? "ok-sign" : "minus-sign" %>" style="font-size: 1.2em; color: <%= (candidate.complete?) ? "green" : "red" %>">
          <td><center><%= form_for [@election, candidate], :remote => true do |f| %>
            <%= f.check_box :elected, :class => 'submittable' %>
            <% end %></center>
          </td>
          <td><%= candidate.bsa_id %></td>
        <td><%= link_to candidate.display_name, election_candidate_path(@election, candidate) %></td>
        <td><%= candidate.rank %></td>
        <td><%= time_ago_in_words(candidate.dob) + " old" %></td>
        <td><%= number_to_phone candidate.phone_home %><br><%= number_to_phone candidate.phone_mobile %></td>		
        <td><%= mail_to candidate.email_scout %><br><%= mail_to candidate.email_parent %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_election_candidate_path(@election, candidate), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      election_candidate_path(@election, candidate),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_election_candidate_path(@election) ,
            :class => 'btn btn-primary' %>
