<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @district.name %>
</p>

<p>
  <b>code:</b>
  <%= @district.code %>
</p>

<p>
  <b>Division:</b>
  <%= @district.division_id %>
</p>


<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
